<a href="https://colab.research.google.com/github/Raizel820/Inferential_Statistics/blob/master/Project_Examine_Racial_Discrimination_Using_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value. Try using both the bootstrapping and the frequentist statistical approaches.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet

#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
+ Formulas for the Bernoulli distribution: https://en.wikipedia.org/wiki/Bernoulli_distribution

In [4]:
%matplotlib inline
import pandas as pd

import subprocess as sp
import sys,os,shutil,pickle,time
import numpy as np
from os.path import join
from matplotlib import pyplot as plt
plt.style.use('default')
# mount Google Drive
from os.path import expanduser
gd_path=join(expanduser("~"),'gd')
if not os.path.isdir(gd_path):
    try:
        # load Google Drive
        from google.colab import drive,files
        drive.mount('/drive')
        sp.call('ln -s /drive/My\ Drive '+gd_path, shell=True)
    except:
        print('unable to find Google Drive Folder')
os.chdir(gd_path+'/MachineLearning')
os.listdir('.')

['kick_starter.csv',
 'human_body_temperature.csv',
 'craigslistVehiclesFull.csv',
 'PIACCsubset.csv',
 'PIACCsubset.txt',
 'PIACCsubset.xlsx',
 'Data Sets',
 'pycon-pandas-tutorial',
 'notebook_001.ipynb',
 'PIACCsubset.ipynb',
 'data_wrangling_json',
 'steam_reviews.csv',
 'education.csv',
 'pokemon_data.csv',
 'filtered.csv',
 'modified.csv',
 'modified.txt',
 'cars_cleaned.csv',
 'us_job_market_discrimination.dta']

In [0]:
import pandas as pd
import numpy as np
from scipy import stats

In [0]:
data = pd.io.stata.read_stata('us_job_market_discrimination.dta')

In [7]:
# number of callbacks for black-sounding names
sum(data[data.race=='w'].call)

235.0

In [8]:
data.head()

  id ad  education  ofjobs  ...  busservice  othservice  missind  ownership
0  b  1          4       2  ...         0.0         0.0      0.0
1  b  1          3       3  ...         0.0         0.0      0.0
2  b  1          4       1  ...         0.0         0.0      0.0
3  b  1          3       4  ...         0.0         0.0      0.0
4  b  1          3       3  ...         0.0         1.0      0.0  Nonprofit

[5 rows x 65 columns]

<div class="span5 alert alert-success">
<p>Your answers to Q1 and Q2 here</p>
</div>

We have two categorical variables here: race and call. Chi-square is the appriate method for investitating the relation.
CLT is  not appropriate because the race and call variables are not numerical variables (not int or float type of data).

In [0]:
w = data[data.race=='w']
b = data[data.race=='b']

Null hypotesis: Race does not have a impact on the rate of callbacks for resumes.

Alternative Hypotesis: Race has a significant impact on the rate of callbacks for resumes.

In [0]:
## Your solution to Q3 here

##### At this part, I need to learn how to do chi-square analysis. Ask, whether there is a package that gives me all confidence interval.

In [30]:
data.columns

Index([u'id', u'ad', u'education', u'ofjobs', u'yearsexp', u'honors',
       u'volunteer', u'military', u'empholes', u'occupspecific', u'occupbroad',
       u'workinschool', u'email', u'computerskills', u'specialskills',
       u'firstname', u'sex', u'race', u'h', u'l', u'call', u'city', u'kind',
       u'adid', u'fracblack', u'fracwhite', u'lmedhhinc', u'fracdropout',
       u'fraccolp', u'linc', u'col', u'expminreq', u'schoolreq', u'eoe',
       u'parent_sales', u'parent_emp', u'branch_sales', u'branch_emp', u'fed',
       u'fracblack_empzip', u'fracwhite_empzip', u'lmedhhinc_empzip',
       u'fracdropout_empzip', u'fraccolp_empzip', u'linc_empzip', u'manager',
       u'supervisor', u'secretary', u'offsupport', u'salesrep', u'retailsales',
       u'req', u'expreq', u'comreq', u'educreq', u'compreq', u'orgreq',
       u'manuf', u'transcom', u'bankreal', u'trade', u'busservice',
       u'othservice', u'missind', u'ownership'],
      dtype='object')

In [31]:
import scipy.stats

scipy.stats.chisquare(data.call.value_counts())

Power_divergenceResult(statistic=3428.21273100616, pvalue=0.0)

In [40]:
# The confidence interval
from scipy.stats import sem, t
from scipy import mean
confidence = 0.95
df2 = data.call

n = len(df2)
m = mean(df2)
std_err = sem(df2)
h = std_err * t.ppf((1 + confidence) / 2, n - 1)

start = m - h
start
end = m + h
end

0.08813631738711969

In [41]:
print('Confidence Interval: ', start,',', end)

('Confidence Interval: ', 0.07284931634376868, ',', 0.08813631738711969)

<div class="span5 alert alert-success">
<p> Your answers to Q4 and Q5 here </p>
</div>

In [0]:
## In order to rely this, i need answers for previous part (Q3).